@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <section class="breadcrumb">
        <div class="container">
            <div class="nav-links">
                <h3>Home</h3>
                <h3 class="active" >@Model.Value("pageTitle")</h3>
            </div>    
            <h1 class="big-titles">@Model.Value("pageTitle")</h1>        
        </div>
    </section>
    <img src="~/static/background-lines.svg">
