@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <header class="main-header container">
        <div class="top-row">
            <div class="contact-info">
                <p><i class="fa-light fa-phone-volume"></i> +46 (8) 4242564 | <i class="fa-regular fa-envelope-dot"></i>info@crito.com | <i class="fa-light fa-location-dot"></i>Sveavägen 31, 111 34 Stockholm</p>
            </div>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>

            </div>
        </div>
        <div class="divider"></div>
        <div class="logo">
            <img src="/static/logotype.svg" alt="Your Logo">
            
        </div>
        <div class="main-nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/news">Services</a></li>
                <li><a href="/article">News</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div class="login-button">
                <button class="theme-button">Login <i class="fa-light fa-arrow-up-right"></i></button>
            </div>
        </div>
    </header>
