@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<!-- Signup -->

<section class="signup">

    <div class="container">
        <h1 class="big-titles">Get New Updates By Signup</h1>
        <div class="textandbutton-row">
            <input class="enter-mail" placeholder="username@domain.com"></input>
            <button class="theme-button">Subscribe <i class="fa-light fa-arrow-up-right"></i></button>
        </div>
    </div>
</section>